@import 'assets/adobe-clean/adobe-clean.scss';
@import 'theming/variables';
@import 'scss/elements';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
:root {
  --devpr-primary-500: #{$devpr-primary-500};
}
body {
  margin: 0;
  font-family: 'Adobe Clean Regular';
  scroll-behavior: smooth;
}

a {
  color: #000;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
