@import 'theming/variables';
@import 'scss/elements';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

devpr-root {
  margin: 0;
  z-index: 1;
  padding: 20px;
  height: 100%;
  display: flex;
  padding: 32px;
  border-radius: 12px;
  flex-direction: column;
  &::after {
    top: 0;
    bottom: 0;
    content: '';
    width: 100%;
    position: absolute;
    background-image: url(assets/images/devparana.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.02;
    z-index: 0;
  }
}

main {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  margin: 0px auto;
  flex: 1;
}

section {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section video {
  position: absolute;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  position: relative;

  > div {
    gap: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
  }
}
