@import 'theming/variables';
@import 'mapped-tokens';
@import 'scss/elements';


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

devpr-root {
  margin: 0;
  padding: 20px;
  height: 100%;
  display: flex;
  padding: 32px;
  border-radius: 12px;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  margin: 0px auto;
  flex: 1;
}

section {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section video {
  position: absolute;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  > div {
    gap: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
  }
}

// :root {
//   /* DevPR / Button / Text / Enabled */
//   --devpr-button-text-enabled-color: #{$devpr-primary-400};
//   --devpr-button-text-enabled-background: #{$devpr-button-text-enabled-background};
//   --devpr-button-text-enabled-border: #{$devpr-button-text-enabled-border};
//   --devpr-button-text-enabled-elevation-offset-x: #{$devpr-button-text-enabled-elevation-offset-x}px;
//   --devpr-button-text-enabled-elevation-offset-y: #{$devpr-button-text-enabled-elevation-offset-y}px;
//   --devpr-button-text-enabled-elevation-radius: #{$devpr-button-text-enabled-elevation-radius}px;
//   --devpr-button-text-enabled-elevation-color: #{$devpr-button-text-enabled-elevation-color};

//   /* DevPR / Button / Text / Hovered */
//   --devpr-button-text-hovered-color: #{$devpr-button-text-hovered-color};
//   --devpr-button-text-hovered-background: #{$devpr-button-text-hovered-background};
//   --devpr-button-text-hovered-border: #{$devpr-button-text-hovered-border};
//   --devpr-button-text-hovered-elevation-offset-x: #{$devpr-button-text-hovered-elevation-offset-x}px;
//   --devpr-button-text-hovered-elevation-offset-y: #{$devpr-button-text-hovered-elevation-offset-y}px;
//   --devpr-button-text-hovered-elevation-radius: #{$devpr-button-text-hovered-elevation-radius}px;
//   --devpr-button-text-hovered-elevation-color: #{$devpr-button-text-hovered-elevation-color};

//   /* DevPR / Button / Text / Focused */
//   --devpr-button-text-focused-color: #{$devpr-button-text-focused-color};
//   --devpr-button-text-focused-background: #{$devpr-button-text-focused-background};
//   --devpr-button-text-focused-border: #{$devpr-button-text-focused-border};
//   --devpr-button-text-focused-elevation-offset-x: #{$devpr-button-text-focused-elevation-offset-x}px;
//   --devpr-button-text-focused-elevation-offset-y: #{$devpr-button-text-focused-elevation-offset-y}px;
//   --devpr-button-text-focused-elevation-radius: #{$devpr-button-text-focused-elevation-radius}px;
//   --devpr-button-text-focused-elevation-color: #{$devpr-button-text-focused-elevation-color};

//   /* DevPR / Button / Text / Pressed */
//   --devpr-button-text-pressed-color: #{$devpr-button-text-pressed-color};
//   --devpr-button-text-pressed-background: #{$devpr-button-text-pressed-background};
//   --devpr-button-text-pressed-border: #{$devpr-button-text-pressed-border};
//   --devpr-button-text-pressed-elevation-offset-x: #{$devpr-button-text-pressed-elevation-offset-x}px;
//   --devpr-button-text-pressed-elevation-offset-y: #{$devpr-button-text-pressed-elevation-offset-y}px;
//   --devpr-button-text-pressed-elevation-radius: #{$devpr-button-text-pressed-elevation-radius}px;
//   --devpr-button-text-pressed-elevation-color: #{$devpr-button-text-pressed-elevation-color};

//   /* DevPR / Button / Text / Disabled */
//   --devpr-button-text-disabled-color: #{$devpr-button-text-disabled-color};
//   --devpr-button-text-disabled-background: #{$devpr-button-text-disabled-background};
//   --devpr-button-text-disabled-border: #{$devpr-button-text-disabled-border};
//   --devpr-button-text-disabled-elevation-offset-x: #{$devpr-button-text-disabled-elevation-offset-x}px;
//   --devpr-button-text-disabled-elevation-offset-y: #{$devpr-button-text-disabled-elevation-offset-y}px;
//   --devpr-button-text-disabled-elevation-radius: #{$devpr-button-text-disabled-elevation-radius}px;
//   --devpr-button-text-disabled-elevation-color: #{$devpr-button-text-disabled-elevation-color};
// }
