@import 'theming/variables';
@import 'scss/elements';
@import 'scss/variables';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

devpr-root {
  margin: 0;
  z-index: 1;
  padding: 20px;
  height: 100%;
  display: flex;
  padding: 32px;
  border-radius: 12px;
  flex-direction: column;
  &::after {
    top: 20px;
    bottom: 0;
    right: 20px;
    content: '';
    width: 100%;
    position: absolute;
    background-image: url(assets/images/devparana.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 400px;
    opacity: 0.5;
    z-index: 0;
  }
}
