/* You can add global styles to this file, and also import other style files */

body {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: sans-serif;
}

a {
  color: #666;
}

a:hover {
  text-decoration: none;
}
