@import 'design/styles/mixins/media-query';
@import 'highlight.js/styles/github.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, arial, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.6;
  background-color: white;
}

slide-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  height: 100%;
  padding: 20px;
  h1:first-of-type {
    text-align: center;
  }
  p:first-of-type {
    text-align: center;
  }
  p > a[title='next-slide'] {
    color: transparent;
  }
  img {
    width: 500px;
  }
}
slide-controls {
  margin: 20px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

// @include mobile {
//   slide-deck {
//     width: 320px;
//   }
// }

// @include mobileLandscape {
//   slide-deck {
//     width: 480px;
//   }
// }

// @include tablet {
//   slide-deck {
//     width: 480px;
//   }
// }
// @include desktop {
//   slide-deck {
//     width: 1024px;
//   }
// }
