section[is='devpr-section'] header {
  background-image: url(/assets/images/devparana.svg);
  background-repeat: no-repeat;
  background-position-x: 220px;
  background-position-y: -59px;
  background-size: 100px;
}
