@use "sass:map";

// DevPR
// primary
$devpr-primary-contrast: map.get($devpr-primary, contrast);
$devpr-secondary-contrast: map.get($devpr-secondary, contrast);

:root {
  --devpr-primary-50: #{map.get($devpr-primary, 50)};
  --devpr-primary-100: #{map.get($devpr-primary, 100)};
  --devpr-primary-200: #{map.get($devpr-primary, 200)};
  --devpr-primary-300: #{map.get($devpr-primary, 300)};
  --devpr-primary-400: #{map.get($devpr-primary, 400)};
  --devpr-primary-500: #{map.get($devpr-primary, 500)};
  --devpr-primary-600: #{map.get($devpr-primary, 600)};
  --devpr-primary-700: #{map.get($devpr-primary, 700)};
  --devpr-primary-800: #{map.get($devpr-primary, 800)};
  --devpr-primary-900: #{map.get($devpr-primary, 900)};
  --devpr-primary-A100: #{map.get($devpr-primary, A100)};
  --devpr-primary-A200: #{map.get($devpr-primary, A200)};
  --devpr-primary-A400: #{map.get($devpr-primary, A400)};
  --devpr-primary-A700: #{map.get($devpr-primary, A700)};

  --devpr-primary-50-contrast: #{map.get($devpr-primary-contrast, 50)};
  --devpr-primary-100-contrast: #{map.get($devpr-primary-contrast, 100)};
  --devpr-primary-200-contrast: #{map.get($devpr-primary-contrast, 200)};
  --devpr-primary-300-contrast: #{map.get($devpr-primary-contrast, 300)};
  --devpr-primary-400-contrast: #{map.get($devpr-primary-contrast, 400)};
  --devpr-primary-500-contrast: #{map.get($devpr-primary-contrast, 500)};
  --devpr-primary-600-contrast: #{map.get($devpr-primary-contrast, 600)};
  --devpr-primary-700-contrast: #{map.get($devpr-primary-contrast, 700)};
  --devpr-primary-800-contrast: #{map.get($devpr-primary-contrast, 800)};
  --devpr-primary-900-contrast: #{map.get($devpr-primary-contrast, 900)};
  --devpr-primary-A100-contrast: #{map.get($devpr-primary-contrast, A100)};
  --devpr-primary-A200-contrast: #{map.get($devpr-primary-contrast, A200)};
  --devpr-primary-A400-contrast: #{map.get($devpr-primary-contrast, A400)};
  --devpr-primary-A700-contrast: #{map.get($devpr-primary-contrast, A700)};

  --devpr-secondary-50: #{map.get($devpr-secondary, 50)};
  --devpr-secondary-100: #{map.get($devpr-secondary, 100)};
  --devpr-secondary-200: #{map.get($devpr-secondary, 200)};
  --devpr-secondary-300: #{map.get($devpr-secondary, 300)};
  --devpr-secondary-400: #{map.get($devpr-secondary, 400)};
  --devpr-secondary-500: #{map.get($devpr-secondary, 500)};
  --devpr-secondary-600: #{map.get($devpr-secondary, 600)};
  --devpr-secondary-700: #{map.get($devpr-secondary, 700)};
  --devpr-secondary-800: #{map.get($devpr-secondary, 800)};
  --devpr-secondary-900: #{map.get($devpr-secondary, 900)};
  --devpr-secondary-A100: #{map.get($devpr-secondary, A100)};
  --devpr-secondary-A200: #{map.get($devpr-secondary, A200)};
  --devpr-secondary-A400: #{map.get($devpr-secondary, A400)};
  --devpr-secondary-A700: #{map.get($devpr-secondary, A700)};

  --devpr-secondary-50-contrast: #{map.get($devpr-secondary-contrast, 50)};
  --devpr-secondary-100-contrast: #{map.get($devpr-secondary-contrast, 100)};
  --devpr-secondary-200-contrast: #{map.get($devpr-secondary-contrast, 200)};
  --devpr-secondary-300-contrast: #{map.get($devpr-secondary-contrast, 300)};
  --devpr-secondary-400-contrast: #{map.get($devpr-secondary-contrast, 400)};
  --devpr-secondary-500-contrast: #{map.get($devpr-secondary-contrast, 500)};
  --devpr-secondary-600-contrast: #{map.get($devpr-secondary-contrast, 600)};
  --devpr-secondary-700-contrast: #{map.get($devpr-secondary-contrast, 700)};
  --devpr-secondary-800-contrast: #{map.get($devpr-secondary-contrast, 800)};
  --devpr-secondary-900-contrast: #{map.get($devpr-secondary-contrast, 900)};
  --devpr-secondary-A100-contrast: #{map.get($devpr-secondary-contrast, A100)};
  --devpr-secondary-A200-contrast: #{map.get($devpr-secondary-contrast, A200)};
  --devpr-secondary-A400-contrast: #{map.get($devpr-secondary-contrast, A400)};
  --devpr-secondary-A700-contrast: #{map.get($devpr-secondary-contrast, A700)};
}
