/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

a {
  color: #000;
}
