/* For use in theming/palette */
$devpr-secondary: (
  50: #fdfdfd,
  100: #fbfbfb,
  200: #f8f8f8,
  300: #f5f5f5,
  400: #f3f3f3,
  500: #f1f1f1,
  600: #efefef,
  700: #ededed,
  800: #ebebeb,
  900: #e7e7e7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in theming/palette */
$devpr-primary: (
  50: #e3f4e9,
  100: #b9e3c9,
  200: #8ad0a5,
  300: #5bbd81,
  400: #38ae66,
  500: #15a04b,
  600: #129844,
  700: #0f8e3b,
  800: #0c8433,
  900: #067323,
  A100: #a2ffb6,
  A200: #6fff8e,
  A400: #3cff65,
  A700: #23ff51,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
