@import 'theming/variables';
@import 'mixins/media-query';

devpr-root {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0px auto;
  position: relative;
}

.wrapper {
  height: calc(100vh - 60px);
  overflow: auto;
  scroll-snap-type: y mandatory;
  position: relative;
}

devpr-header {
  z-index: 20;
}

.section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  scroll-snap-align: center;
  overflow: hidden;

  h2 {
    font-family: #{$devpr-header-1-font-family}, sans-serif;
    font-size: #{$devpr-header-1-font-size}px;
    font-weight: $devpr-header-1-font-weight;
    font-style: $devpr-header-1-font-style;
    font-stretch: $devpr-header-1-font-stretch;
    text-decoration: $devpr-header-1-text-decoration;
    letter-spacing: #{$devpr-header-1-letter-spacing}px;
    line-height: #{$devpr-header-1-line-height};
  }

  &#mx > devpr-member {
    z-index: 1;
  }
  &#mx > article {
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
    left: 20px;

    z-index: 1;

    > div {
      z-index: 20;
    }
  }
  @include mobile {
    &#mx > article {
      left: 0;
    }
  }
  #home h2 {
    opacity: 0.2;
    color: $devpr-on-surface-high;
  }

  h3 {
    font-family: #{$devpr-header-2-font-family}, sans-serif;
    font-size: #{$devpr-header-2-font-size}px;
    font-weight: $devpr-header-2-font-weight;
    font-style: $devpr-header-2-font-style;
    text-decoration: $devpr-header-2-text-decoration;
    line-height: #{$devpr-header-2-line-height};
  }
  figure figcaption {
    opacity: 0.3;
    text-align: center;
  }
  h2,
  h3 {
    margin: 0;
    text-align: center;
    font-weight: normal;
  }
  &__header {
    position: sticky;
    top: 0;
    height: 80px;
    // padding: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 5px 10px;
    color: $devpr-on-surface-medium;
    background: $devpr-surface;
  }
  &__content {
    flex: 1;
    display: flex;
    user-select: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

    > h2 {
      color: $devpr-on-surface-medium;
    }
    > h3 span {
      color: $devpr-on-surface-medium;
    }

    @include desktop {
      img {
        max-width: 640px;
        max-height: 360px;
      }
      p {
        font-size: 36px;
      }
    }

    @include tablet {
      img {
        max-width: 480px;
        max-height: 320px;
      }
      p {
        font-size: 32px;
      }
    }

    @include mobile {
      img {
        max-width: 240px;
        max-height: 160px;
      }
      p {
        padding: 0em;
        font-size: 24px;
      }
    }

    p,
    h2 {
      font-weight: 500;
      text-align: center;
    }
  }
  &__content > div {
    max-width: 992px;
  }
}
