@import 'theming/variables';
@import 'mixins/media-query';

devpr-root {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0px auto;

  // background-image: url(/assets/images/devparana.svg);
  // background-repeat: no-repeat;
  // background-position-x: 240px;
  // background-position-y: 0px;
  // background-size: 100px;

}



.grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    '. .'
    '. .';

  p {
    color: $devpr-on-surface-medium;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
  }
}

.wrapper {
  height: calc(100vh - 60px);
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  scroll-snap-align: center;

  h2 {
    font-family: #{$devpr-header-1-font-family}, sans-serif;
    font-size: #{$devpr-header-1-font-size}px;
    font-weight: $devpr-header-1-font-weight;
    font-style: $devpr-header-1-font-style;
    font-stretch: $devpr-header-1-font-stretch;
    text-decoration: $devpr-header-1-text-decoration;
    letter-spacing: #{$devpr-header-1-letter-spacing}px;
    line-height: #{$devpr-header-1-line-height};
  }

  h3 {
    font-family: #{$devpr-header-2-font-family}, sans-serif;
    font-size: #{$devpr-header-2-font-size}px;
    font-weight: $devpr-header-2-font-weight;
    font-style: $devpr-header-2-font-style;
    text-decoration: $devpr-header-2-text-decoration;
    line-height: #{$devpr-header-2-line-height};
  }

  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-weight: normal;
  }
  &__header {
    position: sticky;
    top: 0;
    padding: 1em;
    color: $devpr-primary-400;
    background: $devpr-surface;
  }
  &__content {
    flex: 1;
    display: flex;
    user-select: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include desktop {
      img {
        max-width: 640px;
      }
      p {
        padding: 2em;
        font-size: 36px;
      }
    }

    @include tablet {
      img {
        max-width: 480px;
      }
      p {
        padding: 1em;
        font-size: 36px;
      }
    }

    @include mobile {
      img {
        max-width: 240px;
      }
      p {
        padding: 0em;
        font-size: 24px;
      }
    }

    p {
      margin: 0.5em 1em;
      text-align: center;
    }
  }
  &__content > div {
    max-width: 992px;
  }
}
